<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <h5 class="widget-title"><%= __('archive_a') %></h5>
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
