<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <h5 class="widget-title"><%= __('tags') %></h5>
      <%- list_tags({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
