<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget tagcloud">
      <h5 class="widget-title"><%= __('tagcloud') %></h5>
      <%- tagcloud() %>
    </div>
  </div>
<% } %>